@use "../../../../../styles/panel/abstracts/variables" as var;

.version {
  display: flex;
  padding: 6px 0;
  flex-direction: column;
  align-items: flex-start;

  .row {
    display: flex;
    padding: 6px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    &.title {
      flex: 1 0 0;
      font-weight: 600;
      color: var.$slate-700;
    }

    &.info {
      justify-content: space-between;

      .number {
        font-weight: 500;
        color: var.$slate-700;
      }

      .log {
        font-weight: 500;
        color: var.$slate-500;
      }
    }
  }
}
