@use "../../styles/panel/themes/fonts";
@use "../../styles/panel/base/typography";
@use "../../styles/panel/abstracts/variables" as var;
@use "../../styles/panel/utils/functions" as fn;

.admin-layout-wrapper{
  display: flex;
  align-items: flex-start;
  max-width: var.$desktop-max;
  width: 100%;

  $sidebar-width: 263px;
  .main-sidebar{
    max-width: $sidebar-width + 1px;
    flex: 0 0 $sidebar-width;
    border-right: 1px solid #D4DADD;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-wrapper{
    flex: 1;
  }
}
