@use "../../styles/panel/themes/fonts";
@use "../../styles/panel/base/typography";
@use "../../styles/panel/abstracts/variables" as var;
//@use "../../styles/panel/utils/functions" as fn;

$sidebar-width: 263px;
.sidebar {
  grid-area: sidebar;
  max-width: $sidebar-width + 1px;
  border-right: 1px solid var.$gray;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;

  .body-wrapper {
    flex: 1;
  }
}

.layout {
  display: grid;
  max-width: var.$desktop-max;
  min-height: 100vh;
  grid-template-columns: minmax(200px, $sidebar-width) 1fr;
  $p2: 2 * var.$secondary-padding;
  grid-template-rows: calc(40px + $p2) 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar content';

  .body-wrapper {
    padding: var.$primary-padding
  }
}
