$black: #000000;
$white: #FFFFFF;
$gray: #D4DADD;
$accent: #D94162;

$slate-100: #F1F5F9;
$slate-200: #E2E8F0;
$slate-300: #CBD5E1;
$slate-500: #64748B;
$slate-600: #475569;
$slate-700: #334155;
$slate-900: #0F172A;

$emerald-600: #059669;

$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

$desktop-max: 1920px;

$primary-padding: 36px;
$secondary-padding: 24px;

$primary-gap: 36px;
$secondary-gap: 24px;
