@use "../../../styles/panel/abstracts/variables" as var;

.tree {
  grid-area: tree;
  min-height: 100vh;

  border-right: 1px solid var.$slate-300;
  background: var.$white;
}

.media {
  grid-area: media;
  min-height: 1200px;
}

.wrapper {
  display: grid;
  $p2: 2 * var.$primary-padding;
  grid-template-columns: calc(212px + $p2) 1fr;
  grid-template-areas: 'tree media'
}
