@use "../../../styles/panel/abstracts/variables" as var;

:host ::ng-deep {
  height: 100%;
  display: block;

  .p-splitter {
    height: 100%;
    display: block;

    border: none !important;
    border-radius: 0 !important;
  }

  .p-splitter-gutter-handle {
    width: 2px !important;
  }

  .p-splitterpanel-nested {
    justify-content: initial !important;
  }
}

.wrapper {
  $p2: 2 * var.$primary-padding;
  height: 100%;
}
