<p-dialog header="Create Folder"
          [position]="'top'"
          [modal]="true"
          [(visible)]="visibleCreateFolderDialog">
  <span class="p-text-secondary block mb-8">Create new folder.</span>
  <form [formGroup]="createFolderGroup" (ngSubmit)="onCreateFolderFormSubmit()" #createFolderForm="ngForm">
    <div class="gap-4 mb-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-folder-plus"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="on">
          <input pInputText id="newFolderName" autocomplete="off" formControlName="newFolderName" />
          <label for="newFolderName">folder name</label>
        </p-floatlabel>
      </p-inputgroup>
      @let newFolderName = createFolderForm.form.get('newFolderName');
      @if (newFolderName?.invalid && (newFolderName?.dirty || newFolderName?.touched) ) {
        @for (error of pathErrors; track  error) {
          <div class="text-red-500 mt-2">{{error}}</div>
        }
      }
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
      <p-button label="Create" type="submit"  [disabled]="!createFolderGroup.valid" />
    </div>
  </form>
</p-dialog>

<div class="wrapper">
  <div class="header">
    <label class="title">Ordner</label>
    <p-button (click)="openDialog()" [disabled]="!selectedNode">
      <i class="pi pi-folder-plus"></i>
      Erstellen
    </p-button>
  </div>
  <div class="body">
    <p-tree [value]="tree" [dt]="treeDesignToken"
            styleClass="w-full"
            selectionMode="single"
            loadingMode="icon"
            [(selection)]="selectedNode"
            (onNodeExpand)="nodeExpand($event)"
            (onNodeCollapse)="nodeCollapse($event)"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)" />
  </div>
</div>
