@use "../../../../styles/panel/abstracts/variables" as var;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var.$secondary-gap;

  .header {
    display: flex;
    align-items: center;
    gap: var.$primary-gap;
    align-self: stretch;

    .title {
      color: var.$slate-900;
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
    }
  }
  .body {
  }
}
