<div class="wrapper">
  <div class="header">
    <label class="title">Ordner</label>
    <button class="btn" hlmBtn variant="destructive"
            [disabled]="!selectedFolder"
            (click)="createFolder()"
    >
      <i class="pi pi-folder-plus"></i>
      Erstellen
    </button>
  </div>
  <div class="body">
    <p-tree [value]="directories"
            styleClass="w-full hami-folder-tree"
            selectionMode="single"
            loadingMode="icon"
            [(selection)]="selectedFolder"
            (onNodeExpand)="nodeExpand($event)"
            (onNodeCollapse)="nodeCollapse($event)"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)" />
  </div>
</div>
