<div class="header">
  <h5 class="admin-content-title">Medien</h5>
  <div class="upload-controllers">
    <p-button icon="pi pi-list" severity="secondary" hidden="hidden" />
    <p-fileupload
      mode="advanced"
      chooseIcon="pi pi-upload"
      chooseLabel="Hochladen"
      accept="image/*"
      [multiple]="true"
      [auto]="false"
      [customUpload]="true"
      (uploadHandler)="uploadFiles($event)"
    />
  </div>
</div>
  <div class="body">
    @if (directory) {
      @for (dir of directory.files; track dir.id) {
        <hami-media-card [media]="dir" />
      }
    } @else {
      empty
    }
  </div>
