@use "../../../../styles/panel/abstracts/variables" as var;

:host {
  display: flex;
  padding: var.$primary-padding;
  flex-direction: column;
  align-items: flex-start;
  gap: var.$secondary-gap;
  flex: 1 0 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .upload-controllers {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: var.$secondary-gap;
    align-self: stretch;
    flex-wrap: wrap;
  }
}
